.title{
    font-weight: bold;
    font-size: 20px;
    padding-top: 200px;
}
.first-button {
    width: 340px;
    height: 110px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    background: #4D4CAC;
    font-weight: bold;
    color: #FFFFFF;

}
.second-button {
    width: 340px;
    height: 110px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    background: #9698D6;
    font-weight: bold;
    color: #FFFFFF;
}
.third-button{
    width: 340px;
    height: 110px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    background:#FF808B;
    font-weight: bold;
    color: #FFFFFF;
}
.buy-courses{
    color: #7869E6;
    text-align: center;
    width: 217px;
    height: 35px;
    font-weight: 700;
    letter-spacing: -0.01em;
    font-feature-settings: 'case' on;
    background: rgba(120, 105, 230, 0.13);
    border: none;
    position: absolute;
    border-radius: 5px;

}
span{
    color: rgba(255, 255, 255, 0.62);
    font-size: 12px;
    text-align: start;
}
.arrow{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 7.12%;
    top: 21.79%;
    bottom: 78.21%;


}
.rectangle{
    position: absolute;
    width: 60px;
    height:60px;
    left: 6.73%;
    right: 76.15%;
    top: 21.79%;
    bottom: 21.79%;
    background: #5A5AB2;
    border-radius: 10px;
}
.vector {
    width: 16px;
    height: 16px;
    position: absolute;
    left:87%;
    top:23%;
}
i{
    font-size: 36px;
    font-style: normal;
    justify-content: center;
    align-items: center;

}
#second{
    background: #A4A6DB;;

}
#third{
    background: #FF919B;
}
