.food{
	background-color: gray;
    text-indent: 20px;
    font-weight: bold;
    border: 3px solid black;


}
.first1{
	color: red;
	margin-top: 40px;
	justify-content: center;
	align-content: center;
	display: flex;
}
.menu{
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-content: center;
}
.Chick{
	font-size: 18px;
	font-weight: bold;
	justify-content: center;
	display: flex;
}
.text{
    margin-top: 50px;
    box-sizing: border-box;
    border-color: gray;
    font-weight: bold;
    margin: 40px 10px 10px 10px;
	
	
}
.navbar-brand a:hover, navbar-brand a:focus{
	text-decoration: none;
}


}
@media(min-width: 768px){
	.navbar-toggle{
		display: none;
	}

}